In [2]:
#q1
def reverse_string(s):
    return s[::-1]
reverse_string("gaurisha")

'ahsiruag'

In [3]:
#q2
def count_vowels(s):
    return sum(1 for char in s.lower() if char in 'aeiou')
count_vowels("sajal")

2

In [4]:
#q3
def is_palindrome(s):
    return s == s[::-1]
is_palindrome("aaaaa")

True

In [7]:
#q4
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)
are_anagrams("gauri","gaurisha")

False

In [8]:
#q6
def compress_string(s):
    result = []
    i = 0
    while i < len(s):
        count = 1
        while i + 1 < len(s) and s[i] == s[i + 1]:
            count += 1
            i += 1
        result.append(f"{s[i]}{count}")
        i += 1
    return ''.join(result)
compress_string("gaurisha3456")

'g1a1u1r1i1s1h1a131415161'

In [9]:
#q7
def has_unique_chars(s):
    return len(set(s)) == len(s)
has_unique_chars("pwskills")

False

In [10]:
#q8
def to_upper(s):
    return s.upper()

def to_lower(s):
    return s.lower()

to_upper("gaurisha")
to_lower("PWSKLLLS")

'pwskllls'

In [12]:
#Q9
def count_words(s):
    return len(s.split())
count_words("Arithmetic Error")

2

In [13]:
#q10
def concat_strings(s1, s2):
    return ''.join([s1, s2])

concat_strings("gaurisha","pw")

'gaurishapw'

In [14]:
#q11
def remove_element(lst, elem):
    return [x for x in lst if x != elem]
remove_element([0,8,67,89,90],90)

[0, 8, 67, 89]

In [15]:
#q12
def second_largest(lst):
    unique = list(set(lst))
    unique.sort()
    return unique[-2] if len(unique) >= 2 else None
second_largest([90,45,56,78])

78

In [16]:
#q13
from collections import Counter

def count_occurrences(lst):
    return dict(Counter(lst))
count_occurrences([6,6,67,6,78,8])

{6: 3, 67: 1, 78: 1, 8: 1}

In [17]:
#q14
def reverse_list(lst):
    for i in range(len(lst) // 2):
        lst[i], lst[-i-1] = lst[-i-1], lst[i]
    return lst
reverse_list([9,4,56,678,890])

[890, 678, 56, 4, 9]

In [19]:
#q15
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result
remove_duplicates([7,7,8,8,9,90,8,9,9])

[7, 8, 9, 90]

In [20]:
#q16
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)
is_sorted([0,1,2,3,4])

True

In [21]:
#q17
def merge_sorted_lists(l1, l2):
    i = j = 0
    result = []
    while i < len(l1) and j < len(l2):
        if l1[i] < l2[j]:
            result.append(l1[i])
            i += 1
        else:
            result.append(l2[j])
            j += 1
    result.extend(l1[i:])
    result.extend(l2[j:])
    return result
merge_sorted_lists([9,8,90],[9,5,5,56])

[9, 5, 5, 9, 8, 56, 90]

In [22]:
#q18
def list_intersection(l1, l2):
    return list(set(l1) & set(l2))
list_intersection([8,4,4,5,6],[9,5])

[5]

In [23]:
#q19
def list_union(l1, l2):
    return list(set(l1) | set(l2))
list_union([9,4,45,0],[4,45,3,2])

[0, 2, 3, 4, 9, 45]

In [24]:
#q21
def common_tuple_elements(t1, t2):
    return tuple(set(t1) & set(t2))
common_tuple_elements((3,3,3,45),(98,5,5,3))

(3,)

In [25]:
#q22
def user_set_intersection():
    s1 = set(map(int, input("Enter first set of integers (comma-separated): ").split(',')))
    s2 = set(map(int, input("Enter second set of integers (comma-separated): ").split(',')))
    print("Intersection:", s1 & s2)
user_set_intersection()

Intersection: {4, 5}

In [26]:
#q23
def concat_tuples(t1, t2):
    return t1 + t2

In [27]:
#q24
def difference_of_sets():
    set1 = set(input("Enter first set of strings (comma-separated): ").split(','))
    set2 = set(input("Enter second set of strings (comma-separated): ").split(','))
    print("Elements in first set but not in second set:", set1 - set2)
difference_of_sets()

Elements in first set but not in second set: {'6', '7'}

In [29]:
#q25
def slice_tuple(tup, start, end):
    return tup[start:end]
slice_tuple((89,89,78,5,8),1,5)

(89, 78, 5, 8)

In [30]:
#q26
def union_of_char_sets():
    set1 = set(input("Enter first set of characters (no spaces): "))
    set2 = set(input("Enter second set of characters (no spaces): "))
    print("Union of the sets:", set1 | set2)
union_of_char_sets()

Union of the sets: {'6', '7', '4', ',', '5', '3'}

In [31]:
#q28
def set_operations():
    s1 = {1, 2, 3, 4}
    s2 = {3, 4, 5, 6}
    print("Union:", s1 | s2)
    print("Intersection:", s1 & s2)
    print("Difference (s1 - s2):", s1 - s2)
set_operations()

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (s1 - s2): {1, 2}

In [32]:
#q29
def count_element_in_tuple(tup, elem):
    return tup.count(elem)
count_element_in_tuple((9,4,5,67,67,45),67)

2

In [33]:
#q30
def symmetric_diff_sets():
    set1 = set(input("Enter first set of strings (comma-separated): ").split(','))
    set2 = set(input("Enter second set of strings (comma-separated): ").split(','))
    print("Symmetric Difference:", set1 ^ set2)
symmetric_diff_sets()

Symmetric Difference: {'2', '78', '56', '1', '4', '5', '3'}

In [34]:
#q32
def merge_dicts(d1, d2):
    merged = d1.copy()
    for key, value in d2.items():
        merged[key] = merged.get(key, 0) + value
    return merged
merge_dicts({"a":1,"b":4},{"v":7,"y":9})

{'a': 1, 'b': 4, 'v': 7, 'y': 9}

In [37]:
#q33
def access_nested_dict(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d
access_nested_dict({"a":8,"f":7},"a")

8

In [38]:
#q35
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value not in inverted:
            inverted[value] = [key]
        else:
            inverted[value].append(key)
    return inverted